// Start Footer
footer {
    background-color: #b9b3b3;
    padding: 50px 0 10px;
    h4 {
        margin-bottom: 20px;
        color: #4e4e4e;
        font-weight: bold;
    }
    .leftside {
        .posts {
            .post {
                margin-bottom: 15px;
                h5 {
                    color: $redColor;
                    margin-bottom: 8px;
                    margin-left: 10px;
                    font: {
                        weight: bold;
                        size: 16px;
                    }
                }
                p {
                    color: #4e4e4e;
                    margin-left: 10px;
                }
            }
        }
    }
    .middleside {
        .infocontact {
            li {
                &:nth-of-type(3) {
                    span {
                        color: $redColor;
                    }
                }
            }
        }
        .officehour {
            li {
                &:first-of-type {
                    font-weight: bold;
                }
            }
        }
    }
    .rightside {
        input[type='text'],
        input[type='email'],
        textarea {
            border-radius: 10px;
            margin-bottom: 5px;
        }
        input[type='submit'] {
            margin-top: 20px;
        }
    }
    hr {
        background-color: $grayColor;
        height: 2px;
        margin-top: 40px;
    }
    .copyright {
        color: $grayColor
    }
}

// End Footer