.headings-with-border {
    margin: 50px 0;
    position: relative;
    &:before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        content: '';
        border: 1.5px solid $grayColor;
        z-index: -1;
    }
    h2 {
        display: inline-block;
        padding: 2px 60px;
        background-color: $redColor;
        color: #fff;
        border-radius: 10px;
        font: {
            weight: bold
        }
    }
}